* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
  background: radial-gradient(#3f577e, #1e293b);
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.signal {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
  padding: 2px;
  border-radius: 10px;
  width: 30px;
}

.card{
  transition: all 0.5s ease;
}

.card:hover{
  transform: scale(1.02);
}

.color {
  width: 20px;
  background-color: white;
  border-radius: 50px;
  padding: 10px;
  margin: 3px;
}

.card{
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.redLight{
  background-color: red;
  box-shadow: 0px 0px 10px rgb(255, 81, 81);
}

.yellowLight{
  background-color: yellow;
  box-shadow: 0px 0px 10px rgb(255, 255, 109);
}

.greenLight{
  background-color: rgb(7, 182, 7);
  box-shadow: 0px 0px 10px rgb(50, 212, 50);
}